<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Clientes</h2>
  </div>
  <div class="panel-body">
    <table class="table thead-dark" *ngIf="(clientes$ | async) as clientes; else loading">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>E-Mail</th>
          <th>CPF/CNPJ</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.cpfOuCnpj}}</td>
          <td> <button (click)="exibirDetalhes(cliente.id)" class="btn btn-outline-dark" style="margin-left: 10px"><i class="fa fa-info-circle"></i></button>
          <button (click)="alterar(cliente.id)" class="btn btn-outline-dark" style="margin-left: 10px"><i class="fa fa-pencil-square-o"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

      <ng-template #loading>
      <span>Carregando Clientes...</span>
    </ng-template>
  </div>
</div>
