<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                   Infelizmente a página requisitada não existe
                </div>
                <div class="error-actions">
                    <a (click)="home()" class="btn btn-primary btn-lg">
                    <span class="fa fa-home"></span>Home</a>
                </div>

            </div>
        </div>
    </div>
</div>
